<h1>Gallery for Pictures That Taken by Nodes Page</h1>
<div class="col-md-10 col-md-offset-1">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label for="ownedBy">Owned By</label>
            <select class="form-control input-sm" id="ownedBy" name="ownedBy">
                <option>University of Connecticut</option>
                <option>University of Southern Califonia</option>
            </select>
        </div>
        <div class="form-group">
            <label for="time">Time</label>
            <select class="form-control input-sm" id="time" name="time">
                <option>New to Old</option>
                <option>Old to New</option>
            </select>
        </div>
    </form>
</div>